body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#container {
    position: relative;
    width: 300px; /* Largeur du conteneur */
    height: 800px; /* Hauteur du conteneur */
    background-color: #f2f2f2; /* Couleur de fond pour mieux distinguer le conteneur */
    padding: 20px; /* Espace intérieur du conteneur */
}

#imageContainer, #imageToPasteContainer {
    position: relative;
    width: 100%; /* Prend toute la largeur du conteneur */
    height: 40%; /* Prend 40% de la hauteur du conteneur */
    overflow: hidden; /* Masque le dépassement de l'image */
    margin-bottom: 20px; /* Espace en bas des conteneurs d'image */
}

#imageCarree, #imageToPaste {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%; /* Pour que les images ne dépassent pas de leur conteneur */
    max-height: 100%; /* Pour que les images ne dépassent pas de leur conteneur */
}

#downloadButton {
    display: block;
    text-align: center; /* Centre le texte dans le lien de téléchargement */
}
