body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#container {
    position: relative;
    width: 300px;
    height: 800px;
    background-color: #f2f2f2;
    padding: 20px;
}

#imageContainer, #imageToPasteContainer {
    position: relative;
    width: 100%;
    height: 40%;
    overflow: hidden;
    margin-bottom: 20px;
}

#imageCarree, #imageToPaste {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Pour redimensionner les images afin qu'elles remplissent leur conteneur */
}

#downloadButton {
    display: block;
    text-align: center;
}
